@import 'src/styles/mixins.scss';

.card-edit-view {
  position: relative;

  .card-edit-view-title {
    position: absolute;
    top: -28px;
    left: 0;
    background-color: var(--ks-background-color-3);
    font-size: 14px;
    color: var(--ks-primary-color-main);
    border-radius: 20px 0px 20px 0px;
    padding: 5px 10px;
  }

  .card-header-btn-add-card {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    background-color: var(--ks-primary-color-main);
    color: #fff;

    &:hover {
      opacity: 0.8;
      background-color: var(--ks-primary-color-main) !important;
      color: #fff !important;
    }
  }


  .card-edit-view-header {
    background-color: var(--ks-product-color-btn7);
    height: 76px;
    padding: 4px 20px;

    .card-header-close-icon {
      &:hover {
        cursor: pointer;
      }
    }

    .card-header-title {
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 2px;
      padding-bottom: 5px;
    }

    .card-header-total {
      color: var(--ks-text-default-1);
      padding: 6px 10px;
      background-color: var(--ks-background-color-5);
      border-radius: 8px;
      font-size: 14px;
      height: 32px;
    }


    .card-header-select {
      .ant-select-selector {
        min-width: 176px;
        border-radius: 8px;
        color: var(--ks-text-default-1);
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;

        .ant-select-selection-placeholder {
          color: var(--ks-body-color-main) !important;
          font-style: italic !important;
        }
      }
    }

  }

  .card-edit-view-container {
    display: flex;

    .card-view-item {
      max-height: calc(90vh - 163px);
      overflow: auto;
      flex: 50%;

      &.left {
        padding: 4px;
      }

      &.right {
        display: flex;
        justify-content: space-between;
        background-color: var(--ks-background-color-4);
        flex-wrap: wrap;
        padding: 8px;
        min-height: calc(90vh - 163px);
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--ks-background-color-2);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #bfbfbf;

        &:hover {
          background-color: #917878;
        }
      }
    }

    .card-view-item-file {
      max-height: calc(90vh - 28px);
      overflow: auto;

      .card-header-btn-add-card {
        position: absolute;
        z-index: 1;
        top: -20px;
        left: 35%;
      }

      &.left {
        flex: 45%;
        padding: 4px;

      }

      &.right {
        flex: 45%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8px;
      }

      &.mid {
        flex: 10%;
        background-color: #f4f7fb;

        .mid-control-number {
          padding: 10px;
          font-weight: 600;
          text-align: center;
          cursor: pointer;

          &.active {
            background-color: var(--ks-primary-color-main);
            color: #fff;
          }
        }
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: var(--ks-background-color-2);
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: #bfbfbf;

        &:hover {
          background-color: #917878;
        }
      }
    }
  }

  .card-edit-file-view-action {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 30px;

    .card-header-btn-add-card {
      padding: 20px 16px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 600;
      margin-right: 10px;
      background-color: var(--ks-product-color-btn2);
      color: #fff;

      &:hover {
        opacity: 0.8;
        background-color: var(--ks-product-color-btn2) !important;
        color: #fff !important;
      }
    }

    .btn-save-cards {
      padding: 8px 16px;
      display: flex;
      align-items: center;
      border-radius: 20px;
      font-size: 16px;
      font-weight: 600;
      margin-right: 10px;
      background-color: var(--ks-primary-color-main);
      color: #fff;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
        background-color: var(--ks-primary-color-main);
        color: #fff;
      }
    }
  }
}



.modal-select-wrapper {
  padding: 24px;

  .ant-modal-body {
    width: 100%;

    .ant-select-selector {
      background-color: var(--ks-background-color-2);
      border: none;
      // height: 46px;
      // padding: 12px;
      border-radius: 8px;
    }

    .selected-card-wrapper {
      margin: 16px 0 12px;

      .selected-card-item {
        @include ks-text-body2-w600;
        width: 84px;
        height: 38px;
        background-color: var(--ks-background-color-2);
        border-radius: 8px;
        color: var(--ks-black-color-default);
      }

      .selected-item-badge-icon {
        color: var(--ks-error-color-default);
        font-size: 1.6rem;
        cursor: pointer;
      }
    }

    .selected-card-title {
      @include ks-text-body2-w400;
    }
  }

  .ant-modal-footer {
    margin-top: 24px;
    padding: 0 12px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.action-edit-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  background-color: #fff;
  box-shadow: var(--ks-shadow-custom-2);

  &-left {
    display: flex;
    align-items: center;
  }

  &-item {
    padding-left: 12px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-weight: 400;
    font-size: 16px;
  }

  &-item-1 {
    color: #0ea5e9;
    border-left: 2px solid #0ea5e9;
  }

  &-item-3 {
    color: #ff5c00;
    border-left: 2px solid #ff5c00;
  }

  .btn-save {
    height: auto;
    padding: 8px 32px;
    display: flex;
    align-items: center;
    border-radius: 20.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 10px;
    background-color: var(--ks-primary-color-main);
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: var(--ks-primary-color-main);
      color: #fff;
      opacity: 0.8;
    }
  }
}