@mixin ks-text-h1-w700 {
  font-size: 9.6rem;
  font-weight: 700;
}

@mixin ks-text-h2-w700 {
  font-size: 6rem;
  font-weight: 700;
}

@mixin ks-text-h3-w700 {
  font-size: 4.8rem;
  font-weight: 700;
}

@mixin ks-text-h4-w700 {
  font-size: 3.4rem;
  font-weight: 700;
}

@mixin ks-text-h5-w700 {
  font-size: 2.4rem;
  font-weight: 700;
}

@mixin ks-text-h6-w700 {
  font-size: 2rem;
  font-weight: 700;
}

@mixin ks-text-h6-w600 {
  font-size: 2rem;
  font-weight: 600;
}

@mixin ks-text-body1-w700 {
  font-size: 1.6rem;
  font-weight: 700;
}

@mixin ks-text-body1-w400 {
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin ks-text-body2-w700 {
  font-size: 1.4rem;
  font-weight: 700;
}

@mixin ks-text-caption-w700 {
  font-size: 1.2rem;
  font-weight: 700;
}

@mixin ks-text-caption-w400 {
  font-size: 1.2rem;
  font-weight: 400;
}

@mixin ks-text-OVERLINE-w700 {
  font-size: 1rem;
  font-weight: 700;
}

@mixin ks-text-h5-w400 {
  font-size: 2.4rem;
  font-weight: 400;
}

@mixin ks-text-h5-w600 {
  font-size: 2.4rem;
  font-weight: 600;
}

@mixin ks-text-body1-w600 {
  font-size: 1.6rem;
  font-weight: 600;
}

@mixin ks-text-body2-w400 {
  font-size: 1.4rem;
  font-weight: 400;
}

@mixin ks-text-body2-w500 {
  font-size: 1.4rem;
  font-weight: 500;
}

@mixin ks-text-body2-w600 {
  font-size: 1.4rem;
  font-weight: 600;
}

@mixin ellipsis-text {
  &.dot-1 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 !important;
  }

  &.dot-2 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &.dot-3 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &.dot-4 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  &.dot-5 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  &.dot-6 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
  }

  &.dot-7 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }

  &.dot-8 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
  }

  &.dot-9 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
  }

  &.dot-10 {
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
  }
}

@mixin custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #d0d0d0 #f9f9f9;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 7px;
    background: #f9f9f9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #d0d0d0;

    &:hover {
      background: #8a8a8a;
    }
  }
}

@mixin floating-vertical {
  animation: floating-vertical 3s ease-in-out infinite;
}

@keyframes floating-vertical {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, -0px);
  }
}
