.upload-file-type {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .ant-select-selector {
    height: 38px !important;
    border: 1px solid var(--ks-border-color-main);

    .ant-select-selection-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: var(--ks-text-default-1);
    }
  }

  &+.upload-file-type {
    margin-top: 20px;
  }
}

.upload-file-dragger {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .upload-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--ks-product-color-btn1);
    margin: 0;
  }

  .ant-upload {
    background-color: var(--ks-background-color-main);

    &.ant-upload-drag {
      border: 2px dashed var(--ks-primary-color-main);
    }
  }

  .ant-upload-list-item-name {
    color: var(--ks-info-color-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
  }
}